<div class="container-fluid">
    <div style="margin:10px" id="">
        <span style="margin-top:40px;margin-bottom:30px;color:#767676;font-size:16px;line-height:20px;display:block;font-weight:600">Static page with details about various questions and their explanations</span>
    </div>

</div>